<section>
  <br>
  <div class="card style-card-about container">
    <img class="card-img-top style-img-card" src="/assets/images/Ivam.jpg" alt="Card image">
    <div class="card-body">
      <h4 class="card-title">Ivam Galvão Filho</h4>
      <h5 class="card-text">Desenvolvedor Front-End Angular</h5>
      <p class="card-text style-text">
        Sou o 884º melhor desenvolvedor Front-End do Brasil, 15º melhor desenvolvedor de Typescript
        em Florianópolis, 429º melhor desenvolvedor de Typescript do Brasil,
        segundo análise da CodersRank.io. Atualmente um dos 408 mil melhores
        desenvolvedores do mundo em um ranking de 18 milhões.
        Desenvolvedor de sistemas pleno com certificação Scrum SFC e conhecimentos em Angular JS e Angular 8,
        HTML5, CSS3, Javascript, TypeScript, Jquery, Graduando de Análise e Desenvolvimento de Sistemas pela
        Faculdade Estácio de Sá e escritor.
      </p>
      <a href="https://www.linkedin.com/in/ivam-galv%C3%A3o-filho-0218b9b0/" target="_blank" class="btn btn-primary">
        Ver Meu Perfil Completo no Linkedin
      </a>
    </div>
  </div>
  <br>
</section>
