section {
  Background-color: white
}
.style-card-about {
  width: 340px;
  padding-top: 5%;
  padding-bottom: 5%;
}
.style-img-card {
  width: 100%;
  padding: 5%;
}
.style-text {
  text-align: justify;
}

