.style-text1-footer {
  font-style: italic;
  margin-top: 5%;
  color: white;
  float: left;
  font-size: 12px;
}
.style-text2-footer {
  font-style: italic;
  margin-top: 5%;
  color: white;
  float: right;
  font-size: 12px;
}
