.style-text1-footer {
  font-style: italic;
  margin-top: 5%;
  color: white;
  float: left;
  font-size: 12px;
}
.style-text2-footer {
  font-style: italic;
  margin-top: 5%;
  color: white;
  float: right;
  font-size: 12px;
}
@media only screen and (max-width: 768px) and (min-width: 576px) {
  .style-text2-footer {
    font-style: italic;
    margin-top: 5%;
    color: white;
    float: right;
    font-size: 12px;
    margin-right: 5%;
  }
}
@media only screen and (max-width: 576px){
  .style-text2-footer {
    font-style: italic;
    margin-top: 5%;
    color: white;
    float: right;
    font-size: 12px;
    margin-right: 2%;
  }
}
