<section>
<ul class="list-group">
  <li class="list-group-item style-group">
    <!-- Media top -->
    <div class="media">
      <div class="media-body style-text">
        <h4>Lista de Filmes</h4>

        <div id="accordion" class="style-accordion">

          <div class="card">
            <div class="card-header">
              <a class="collapsed card-link" data-toggle="collapse" href="#collapse1">
                <i class="fas fa-plus"></i> Filme 1
              </a>
            </div>
            <div id="collapse1" class="collapse" data-parent="#accordion">
              <div class="card-body">
                Descrição do Filme.
              </div>
            </div>
          </div>
          <br>
        </div>
      </div>
    </div>
  </li>
</ul>
</section>
