<section>
<ul class="list-group">
  <li class="list-group-item style-group">
      <h4 class="style-media-title">Lista de Filmes</h4>
        <div class="style-container">
        <!-- Card Film -->
          <div class="card style-card" *ngFor="let film of films">
            <img class="card-img-top style-img-card" src="{{ film.poster }}" alt="Card image">
            <div class="card-body">
              <h4 class="card-title style-title">{{ film.nome }}</h4>
              <p class="style-card-text"><strong>Ano:</strong> {{ film.ano }}</p>
              <p class="style-card-text"><strong>Gênero:</strong> {{ film.genero }}</p>
              <p class="style-card-text"><strong>Diretor:</strong> {{ film.diretor }}</p>
              <p class="style-card-text"><strong>Descrição do Filme:</strong> {{ film.descricao }}</p>
            </div>
          </div>
        <!-- Card Film -->
        </div>
  </li>
</ul>
</section>
