<section>
<ul class="list-group">
  <li class="list-group-item style-group">
    <!-- Media top -->
    <div class="media">
      <div class="media-body style-text">
        <h4>Lista de Filmes</h4>

        <!-- Accordion -->
        <div id="accordion" class="style-accordion">
          <div class="card">
            <div class="card-header">
              <a class="collapsed card-link" data-toggle="collapse" href="#collapse1">
                  <img class="card-img-top style-img-card" src="https://m.media-amazon.com/images/M/MV5BMTM4OGJmNWMtOTM4Ni00NTE3LTg3MDItZmQxYjc4N2JhNmUxXkEyXkFqcGdeQXVyNTgzMDMzMTg@._V1_SX300.jpg" alt="Card image">
                  <div class="card-body">
                    <h4 class="card-title style-title">Título</h4>
                  </div>
                <i class="fas fa-plus"></i> <span class="style-link-text"> Ver Mais...</span>
              </a>
            </div>
            <div id="collapse1" class="collapse" data-parent="#accordion">
              <div class="card-body">                
                <p class="style-card-text">Ano:</p>
                <p class="style-card-text">Gênero:</p>
                <p class="style-card-text">Diretor:</p>
                <p class="style-card-text">Descrição do Filme:</p>
              </div>
            </div>
          </div>
          <br>
        </div>
        <!-- Accordion -->

      </div>
    </div>
  </li>
</ul>
</section>
