section {
  Background-color: white
}
.style-group{
  margin: 5%;
  margin-left: 10%;
  width: 80%;
}
.style-card-text {
  font-size: 12px;
}
.style-title {
  text-align: center;
}
.style-link-text {
  text-align: center;
  font-size: 12px;
}
.style-card {
  position: relative;
  display: inline-block;
  float: left;
  margin-right: 1%;
}
.style-img-card {
  width: 100%;
}
@media only screen and (max-width: 992px) and (min-width: 768px) {
  .style-text{
    font-size: 10px;
    margin-top: 2%;
  }
  .media{
    display: block;
  }
  .style-card {
    width: 25%;
  }
}
@media only screen and (max-width: 768px) and (min-width: 576px) {
  .style-text{
    font-size: 10px;
    margin-top: 2%;
  }
  .media{
    display: block;
  }
  .style-card {
    width: 50%;
  }
}
@media only screen and (max-width: 576px){
  .style-text{
    font-size: 10px;
    margin-top: 2%;
  }
  .media{
    display: block;
  }
  .style-card {
    width: 100%;
  }
}
