<section>
  <br>
  <div class="card style-card-about container">
    <div class="card-body">
      <h4 class="card-title">Contatos</h4>
      <h5 class="card-text">Desenvolvedor Front-End Angular</h5>
      <p class="card-text style-text"><i class="fas fa-envelope"></i> E-mail: ivam.developer@gmail.com.</p>
      <p class="card-text style-text"><i class="fab fa-whatsapp"></i> WhatsApp: (48) 8412-7518.</p>
      <a href="https://www.linkedin.com/in/ivam-galv%C3%A3o-filho-0218b9b0/" target="_blank" class="btn btn-primary">
        Ver Meu Perfil Completo no Linkedin
      </a>
    </div>
  </div>
  <br>
</section>

